
 .page-header {
    background-color: var(--color-primary);

    display: flex;

    flex-direction: column;
}

.page-header .top-bar-container {
    width: 990%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.6rem 0;
}

.page-header .top-bar-container  a{
    height: 3.2rem;
    transition: opacity 0.2s;
}
.page-header .top-bar-container  a:hover{
   opacity: 0.6;
}

.page-header .top-bar-container > img {
    height: 1.6rem;
}

.page-header .header-content {
    width: 90%;
    margin: 0.2rem auto;
    position: relative;
}

.page-header .header-content strong {
   font: 700 3.6rem Archivo;
   line-height: 4.2rem;
   color: var(--color-title-in-primary);
   margin-top: -120px;
}

.page-header .header-content p {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}

.page-entregas-header {
    background-color: var(--color-primary);

    display: flex;

    flex-direction: column;
}

.page-entregas-header .top-bar-container {
    width: 990%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.6rem 0;
}

.page-entregas-header .top-bar-container  a{
    height: 3.2rem;
    transition: opacity 0.2s;
}
.page-entregas-header .top-bar-container  a:hover{
   opacity: 0.6;
}

.page-entregas-header .top-bar-container > img {
    height: 1.6rem;
}

.page-entregas-header .header-content {
    width: 90%;
    margin: 0.2rem auto;
    position: relative;
}

.page-entregas-header .header-content strong {
   font: 700 4.6rem Archivo;
   line-height: 14.2rem;
   color:#128EC3;
   margin-left:20px;
   position:relative;
}

.page-entregas-header .header-content p {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}

.img-logo {
    float: right;    
    margin-left:260px;
    width:100px;
    height:100px;
    position:relative;
}

.img-logo:hover {
    -webkit-filter: brightness(1) contrast(1.6);
    -webkit-transform: rotate(360deg);
    -webkit-transition: all 0.3s linear;
}

.img-logo-entregas {
    float: right;    
    margin-left:800px;
    width:80px;
    height:80px;
    border-radius: 10px;
    margin-top:50px;
}

.img-logo-entregas:hover {
    -webkit-filter: brightness(1) contrast(1.6);
    -webkit-transform: rotate(360deg);
    -webkit-transition: all 0.3s linear;
}

@media (min-width:700px){
    .page-header {
        height: 340px;
    }

    .page-header .top-bar-container {
        max-width: 1100px;
    }

    .page-header .header-content {
        max-width: 640px;

        margin: 0 auto;
        
        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-header .header-content strong {
        max-width: 550px;
    }

    .img-logo {
        float: right;    
        margin-left:900px;
        width:200px;
        height:200px;
        position:relative;
    }
}


@media (min-width:700px){
    .page-entregas-header {
        height: 220px;
    }

    .page-entregas-header .top-bar-container {
        max-width: 1100px;
    }

    .page-entregas-header .header-content {
        max-width: 640px;

        margin: 0 auto;
        
        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-entregas-header .header-content strong {
        max-width: 250px;
        color:#128EC3;
        margin-left: 130px;
        margin-top: -160px;
    }

    .img-logo-entregas {
        float: right;    
        margin-left:760px;
        width:100px;
        height:100px;
        border-radius: 10px;
        margin-top:4rem;
    }
}
