<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livres | Cadastro Eco Bikers</title>
    <link rel="shortcut icon" href="/images/Logo-livres.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-cadastro-ecobiker.css">



    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">

    <script src="/scripts/addFields.js" defer></script>

</head>

<body id="page-cadastro-ecobiker">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Voltar">
                </a>

                <img src="/images/Logo-livres.png" alt="Proffy">
            </div>

            <div class="header-content">
                <strong>Cadastro Eco Bikers</strong>
                <strong>
                    <p>Cadastro completo, aguarde a confirmação do gestor, para realizar o login.</p>
                </strong>
            </div>
        </header>

    </div>

</body>
</html>