<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livres | Cadastro Entregadores</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="/stylesheets/page-cadastro-ecobiker.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
</head>

<body id="page-cadastro-ecobiker">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.png" alt="Voltar">
                </a>
                <img src="/images/Logo-livres.png" alt="Logo Projeto Livres">
            </div>

            <div class="header-content">
                <strong>Cadastro Enviado!</strong>
                <strong>
                    <p>Aguarde a ativação da sua conta que será realizada pelo seu gestor para que possas realizar login.</p>
                </strong>
            </div>
        </header>
    </div>
</body>
</html>