<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livres | Minhas Entregas</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/entregas.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
</head>

<body id="page-entregas">
    <div id="container">
        <header class="page-entregas-header">
            <div class="header-content">
                <img src="/images/Logo-livres.png" alt="Logo Projeto Livres" class="img-logo-entregas">
                <strong>Entregas</strong>
            </div>

            <div class="topnav">
                <a href="/entregas">Home</a>
                <a href="/minhas-entregas">Minhas Entregas</a>
                <a class="active" href="/entregas-invalidas">Entregas Inválidas</a>
                <a href="/">Sair</a>
            </div>
        </header>

        <main>
            <p style="margin-left:12px;margin-bottom:12px;">
                As entregas inválidas são as que precisam ser realizadas, mas estão <b>sem endereço</b>. Portanto, é necessário ajustá-las.
            </p>
            <fieldset>
                <div class="input-block" style="width:200px;">
                    <label for="data_entrega">Data Entrega</label>
                    <input name="data_entrega" id="data_entrega" onkeyup='checkDate();' required>
                    <p id="message"></p>
                </div>
                <div class="buttons">
                    <button id="entregas_invalidas" onclick="mostrarEntregas()">Mostrar Entregas</button>
                    <button id="baixar_entregas" onclick="downloadFileEntregasInvalidas()" style="width:20%;margin-top:8px;margin-left:240px">Baixar</button>
                </div>
            </fieldset>
            
            <div class="lista-entregas">
                <p id="lista_entregas"></p>
            </div>
        </main>
    </div>
</body>
<script>
    var checkDate = function() {
        var dataEntrega = document.getElementById('data_entrega').value
        const regex = /^\d{4}-\d{2}-\d{2}$/;
      
        if (dataEntrega.match(regex) === null) {
            document.getElementById('message').innerHTML = '<b><i>Preencha a data da entrega.</i></b>';
            document.getElementById('entregas_invalidas').disabled = true;
        }
      
        const date = new Date(dataEntrega);
        const timestamp = date.getTime();
      
        if (typeof timestamp !== 'number' || Number.isNaN(timestamp)) {
            document.getElementById('message').innerHTML = '<b><i>A data deve ser inserida no formato AAAA-MM-DD.</i></b>';
            document.getElementById('entregas_invalidas').disabled = true;
        } else{
            document.getElementById('message').innerHTML = '';
            document.getElementById('entregas_invalidas').disabled = false;
        }
    }

    async function downloadFileEntregasInvalidas(){
        let entregasInvalidas = await getEntregasInvalidas();
        var texto = "Relatório para entregas sem endereço para a data: " + entregasInvalidas[0].data_entrega + "\n";

        for(var i = 0; i < entregasInvalidas.length; i++){
            texto += "Comunidade Consumidor: " + entregasInvalidas[i].comunidade_consumidor + "\nNome do Consumidor: " + entregasInvalidas[i].nome_consumidor +
                    "\nTelefone: " + entregasInvalidas[i].telefone_consumidor + "\nEndereço: " + entregasInvalidas[i].endereco_entrega + "\n\n";
        }

        var blob = new Blob([(texto)],
        { type: "text/plain;charset=utf-8" });
        saveAs(blob, "entregasInvalidas.txt");

        window.location.href = "/entregas-invalidas"
    }

    async function getEntregasInvalidas(){
        var dataEntrega = document.getElementById('data_entrega').value;
        var responseData;

        var url = new URL('https://livres-entregas.herokuapp.com/api/entregas/entregasInvalidas');
        var params = {dataEntrega};

        url.search = new URLSearchParams(params).toString();

        try {
            let res = await fetch(url);
            return await res.json();
        } catch (error) {
            console.log(error);
        }
    }

    async function mostrarEntregas(){
        var entregas = await getEntregasInvalidas();
        var html = '';

        for(var i = 0; i < entregas.length; i++){
            html += "<br><b>Comunidade Consumidor: </b>" + entregas[i].comunidade_consumidor + "<br><b>Nome do Consumidor:</b> " + entregas[i].nome_consumidor +
                    "<br><b>Telefone:</b> " + entregas[i].telefone_consumidor + "<br><b>Endereço: </b>" + entregas[i].endereco_entrega + "<br><b>Valor: </b>" +
                    entregas[i].valor_entrega + "<br><br>";
        }
        
        document.getElementById("lista_entregas").innerHTML = html;
    }
</script>

</html>