<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Livres | Entregas</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/entregas.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="/scripts/pages-entregas-scripts.js"></script>
</head>

<body id="page-entregas">
    <div id="container">
        <header class="page-entregas-header">
            <div class="header-content">
                <img src="/images/Logo-livres.png" alt="Logo Projeto Livres" class="img-logo-entregas">
                <strong>Entregas</strong>
            </div>

            <div class="topnav">
                <a class="active" href="/entregas">Home</a>
                <a href="/minhas-entregas">Minhas Entregas</a>
                <a href="/entregas-invalidas">Entregas Inválidas</a>
                <a href="https://livres-entregas.herokuapp.com/logout">Sair</a>
            </div>
        </header>

        <main>
            <fieldset>
                <div class="input-block" style="width:200px;">
                    <label for="data_entrega">Data Entrega</label>
                    <input name="data_entrega" id="data_entrega" onkeyup="checkDate()" required>
                    <p id="message"></p>
                </div>
            </fieldset>
            <div class="button_carregar_entregas">
                <button id="carregar_entregas" onclick="mostrarEntregas()">Carregar Entregas</button>
            </div>
            <div class="lista-entregas">
                <p id="response" style="color:var(--color-primary-darker)"></p>
                <p id="lista_entregas"></p>
            </div>
        </main>
    </div>
</body>
<script>
    /* função responsável por realizar a chamada da api que cria/atualiza as entregas conforme data passada */
    async function getEntregas(){
        var url = 'https://livres-entregas.herokuapp.com/api/entregas';
        var dataEntrega = document.getElementById('data_entrega').value;

        var postData = {
            "dataEntrega":dataEntrega
        }

        try {
            let res = await fetch(url, {
                method: "POST",
                headers: {
                    "Authorization":"Basic " + sessionStorage.getItem('authorization'),
                    "Content-type":"application/json;charset=UTF-8"
                },
                body: JSON.stringify(postData)
              });
            return await res.json();
        } catch (error) {
            console.log(error);
        } 
    }

    /* função responsável por listar na tela algumas informações sobre as entregas daquela data que ainda não foram selecionadas nem entregues */
    async function mostrarEntregas(){
        var mostrarErro = isDataPassada();
        if(mostrarErro){
            document.getElementById('message').innerHTML = '<b><i>A data precisa ser maior ou igual a hoje.</i></b>';
        } else{
            var entregas = await getEntregas();
            if(entregas.length == 0 || entregas == null){
                document.getElementById("lista_entregas").innerHTML = 'Ainda não há entregas para este dia para seleção.';
            } else if(entregas.message != null){
                document.getElementById("lista_entregas").innerHTML = entregas.message;
            } else{
                var html = '<button id="selecionar_entregas" class="selecionar" onclick="selecionarEntregas()">Selecionar Entregas</button><br>';

                for(var i = 0; i < entregas.length; i++){
                    html += '<div class="lista-entregas-inner"><input type="checkbox" class="checkbox" id="' + entregas[i].id + '">' +  '<br><b>Comunidade Consumidor: </b>' +
                        entregas[i].comunidade_consumidor + '<br><b>Nome do Consumidor:</b> ' + entregas[i].nome_consumidor + '<br><b>Telefone:</b> ' +
                        entregas[i].telefone_consumidor + '<br><b>Endereço: </b>' + entregas[i].endereco_entrega + '<br><b>Valor: </b>' + entregas[i].valor_entrega + "</div>";
                }

                document.getElementById("lista_entregas").innerHTML = html;
            }
        }
    }

    /* função responsável pela montagem do corpo da requisição de atualização para atualizar no BD as entregas que serão selecionadas */
    async function selecionarEntregas(){
        var idsSelecionados = getIdsSelecionados()
        var email = sessionStorage.getItem('email');
        var putData = '{"emailEntregador":"' + email + '", "entregas":['

        for(var i = 0; i < idsSelecionados.length; i++){
            if(i == (idsSelecionados.length - 1)){  //é o último a ser inserido
                putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":true, "entregue":false}]}'
            } else{
                putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":true, "entregue":false}, '
            }
        }

        atualizarDados(putData)
    }
</script>

</html>