<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livres | Login Entregadores</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="/stylesheets/login.css">



    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">

</head>

<body id="page-login">

    <div id="container">
        <header class="page-header">

            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.png" alt="Voltar">
                </a>
            </div>
            
            <img src="/images/Logo-livres.png" alt="Logo Projeto Livres" class="img-logo">
            <div class="header-content">
            </div>
        </header>

        <main>
            <form id="authentication" method="post" action="https://livres-entregas.herokuapp.com/login">
                <fieldset>
                    <legend>Login</legend>
                    <div class="input-block">
                        <label for="username">E-mail</label>
                        <input name="username" id="username" required>
                    </div>

                    <div class="input-block">
                        <label for="password">Senha</label>
                        <input name="password" id="password" type="password" required>
                    </div>
                </fieldset>
            </form>

            <footer>
                <button id="login" type="submit" form="authentication">Entrar</button>
            </footer>
        </main>

    </div>

</body>

</html>