<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livres | Minhas Entregas</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/entregas.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
</head>

<body id="page-entregas">
    <div id="container">
        <header class="page-entregas-header">
            <div class="header-content">
                <img src="/images/Logo-livres.png" alt="Logo Projeto Livres" class="img-logo-entregas">
                <strong>Entregas</strong>
            </div>

            <div class="topnav">
                <a href="/entregas">Home</a>
                <a class="active" href="/minhas-entregas">Minhas Entregas</a>
                <a href="/entregas-invalidas">Entregas Inválidas</a>
                <a href="/">Sair</a>
            </div>
        </header>

        <main>
            <fieldset>
                <div class="input-block" style="width:200px;">
                    <label for="data_entrega">Data Entrega</label>
                    <input name="data_entrega" id="data_entrega" onkeyup='checkDate();' required>
                    <p id="message"></p>
                </div>
            </fieldset>
            <div class="button_carregar_entregas">
                <button id="carregar_entregas" onclick="mostrarEntregas()">Carregar Entregas</button>
            </div>
            <botoes>
                <p id="botoes"></p>
            <botoes>

            <div class="lista-entregas">
                <p id="response" style="color:var(--color-primary-darker)"></p>
                <p id="lista_entregas"></p>
            </div>
        </main>

    </div>
</body>
<script>
    var checkDate = function() {
        var dataEntrega = document.getElementById('data_entrega').value
        const regex = /^\d{4}-\d{2}-\d{2}$/;
      
        if (dataEntrega.match(regex) === null) {
            document.getElementById('message').innerHTML = '<b><i>Preencha a data da entrega.</i></b>';
            document.getElementById('carregar_entregas').disabled = true;
        }
      
        const date = new Date(dataEntrega);
        const timestamp = date.getTime();
        
        if (typeof timestamp !== 'number' || Number.isNaN(timestamp)) {
            document.getElementById('message').innerHTML = '<b><i>A data deve ser inserida no formato AAAA-MM-DD.</i></b>';
            document.getElementById('carregar_entregas').disabled = true;
        } else{
            document.getElementById('message').innerHTML = '';
            document.getElementById('carregar_entregas').disabled = false;
        }
    }

    async function getEntregasResp(){
        var dataEntrega = document.getElementById('data_entrega').value;
        var resp = 'gabi.sperandeo@gmail.com';
        var responseData;

        var url = new URL('https://livres-entregas.herokuapp.com/api/entregas/entregasResp');
        var params = {dataEntrega, resp};
        url.search = new URLSearchParams(params).toString();

        try {
            let res = await fetch(url);
            return await res.json();
        } catch (error) {
            console.log(error);
        }
    }

    async function mostrarEntregas(){
        var entregas = await getEntregasResp();
        var botoes = '<button id="resignar_entregas" onclick="atualizar(1)" style="width:100px;">Resignar</button>' +
                    '<button id="entregue" onclick="atualizar(2)" style="width:90px;margin-left:5px;">Entregue</button>' +
                    '<button id="gerar_rotas" onclick="gerarRotas()" style="width:120px;margin-left:5px;">Gerar Rotas</button><br>';
        var html = '';
        
        for(var i = 0; i < entregas.length; i++){
            html += '<div class="lista-entregas-inner"><input type="checkbox" class="checkbox" id="' + entregas[i].id + '">' +  '<br><b>Comunidade Consumidor: </b>' + entregas[i].comunidade_consumidor + '<br><b>Nome do Consumidor:</b> ' +
                    entregas[i].nome_consumidor + '<br><b>Telefone:</b> ' + entregas[i].telefone_consumidor + '<br><b>Endereço: </b>' + entregas[i].endereco_entrega + '<br><b>Valor: </b>' +
                    entregas[i].valor_entrega + "</div>";
        }

        document.getElementById("botoes").innerHTML = botoes;
        document.getElementById("lista_entregas").innerHTML = html;
    }

    async function atualizar(opcao){
        console.log(opcao);
        var idsSelecionados = getIdsSelecionados()
        var putData = '{"emailEntregador":"gabi.sperandeo@gmail.com", "entregas":[' //trocar pro email como var

        if(opcao == 1){
            for(var i = 0; i < idsSelecionados.length; i++){
                putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":false, "entregue":false}, '
    
                if(i == (idsSelecionados.length - 1)){  //é o último a ser inserido
                    putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":false, "entregue":false}]}'
                }
            }
        } else{
            for(var i = 0; i < idsSelecionados.length; i++){
                putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":true, "entregue":true}, '
    
                if(i == (idsSelecionados.length - 1)){  //é o último a ser inserido
                    putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":true, "entregue":true}]}'
                }
            }
        }

        atualizarDados(putData)
    }

    async function atualizarDados(putData) {
        var url = 'https://livres-entregas.herokuapp.com/api/entregas/atualizar';

        try {
            let res = await fetch(url, {
                method: "PUT",
                headers: {"Content-type": "application/json;charset=UTF-8"},
                body: putData
              });

              mostrarEntregas();
        } catch (error) {
            console.log(error);
        } 
    }

    function getIdsSelecionados() {
        var idsSelecionados = []

        var inputs = document.querySelectorAll('.checkbox');   
        for (var i = 0; i < inputs.length; i++) {   
            if(inputs[i].checked == true){
                idsSelecionados.push(inputs[i].id)
            }
        }

        return idsSelecionados;
    }
</script>

</html>