<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Livres | Minhas Entregas</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/entregas.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-oj3V655rj-a0F3KhYYY9q2cMP8qq7UA&libraries=geometry&amp"></script>
    <script type="text/javascript" src="/scripts/pages-entregas-scripts.js"></script>
</head>

<body id="page-entregas">
    <div id="container">
        <header class="page-entregas-header">
            <div class="header-content">
                <img src="/images/Logo-livres.png" alt="Logo Projeto Livres" class="img-logo-entregas">
                <strong>Entregas</strong>
            </div>

            <div class="topnav">
                <a href="/entregas">Home</a>
                <a class="active" href="/minhas-entregas">Minhas Entregas</a>
                <a href="/entregas-invalidas">Entregas Inválidas</a>
                <a href="/">Sair</a>
            </div>
        </header>

        <main>
            <fieldset>
                <div class="input-block" style="width:200px;">
                    <label for="data_entrega">Data Entrega</label>
                    <input name="data_entrega" id="data_entrega" onkeyup='checkDate();' required>
                    <p id="message"></p>
                </div>
            </fieldset>
            <div class="button_carregar_entregas">
                <button id="carregar_entregas" onclick="mostrarEntregas()">Carregar Entregas</button>
            </div>
            <botoes>
                <p id="botoes"></p>
            <botoes>

            <div class="lista-entregas">
                <p id="response" style="color:var(--color-primary-darker)"></p>
                <p id="lista_entregas"></p>
            </div>
        </main>

        <div id="myModal" class="modal">
            <div class="modal-content">
              <span onclick="document.getElementById('myModal').style.display='none'" class="close">&times;</span>
              <div id="map"></div>
              <div class="legenda">
                <p id="infos" style="margin-left: 12px;"></p>
              </div>
            </div>
        </div>
    </div>
</body>
<script>
    /* função responsável por realizar a chamada da api que busca as entregas conforme data passada e o entregador logado */
    async function getEntregasResp(){
        var dataEntrega = document.getElementById('data_entrega').value;
        var resp = sessionStorage.getItem('email');
        var url = new URL('https://livres-entregas.herokuapp.com/api/entregas/entregasResp');
        var params = {dataEntrega, resp};
        url.search = new URLSearchParams(params).toString();

        try {
            let res = await fetch(url, {
                headers: {
                    "Authorization":"Basic " + sessionStorage.getItem('authorization'),
                    "Content-type":"application/json;charset=UTF-8"
                }
            });
            return await res.json();
        } catch (error) {
            console.log(error);
        }
    }

    /* função responsável por listar na tela algumas informações sobre as entregas daquela data que foram selecionadas pelo entregador logado */
    async function mostrarEntregas(){
        var mostrarErro = isDataPassada()
        /*if(mostrarErro){
            document.getElementById('message').innerHTML = '<b><i>A data precisa ser maior ou igual a hoje.</i></b>';
        } else{ //se a data estiver válida*/
            var entregas = await getEntregas();

            if(entregas.length == 0 || entregas == null){   //se não há entregas cuja opção de entrega é sim e o endereço não esteja vazio
                document.getElementById("lista_entregas").innerHTML = 'Ainda não há entregas para esta datas prontas para serem selecionadas.';
            } else if(entregas.length >= 1 && entregas[0].data_entrega != null){    //se trouxe entregas válidas
                var entregas = await getEntregasResp();
                var botoes = '<button id="resignar_entregas" onclick="atualizar(1)" style="width:100px;">Resignar</button>' +
                            '<button id="entregue" onclick="atualizar(2)" style="width:90px;margin-left:5px;">Entregue</button>' +
                            '<button id="gerar_rotas" onclick="gerarRotas()" style="width:120px;margin-left:5px;">Gerar Rotas</button><br>';
                var html = '';
                
                for(var i = 0; i < entregas.length; i++){
                    html += '<div class="lista-entregas-inner"><input type="checkbox" class="checkbox" id="' + entregas[i].id + '">' +  '<br><b>Comunidade Consumidor: </b>' +
                        entregas[i].comunidade_consumidor + '<br><b>Nome do Consumidor:</b> ' + entregas[i].nome_consumidor + '<br><b>Telefone:</b> ' + entregas[i].telefone_consumidor +
                        '<br><b>Endereço: </b>' + entregas[i].endereco_entrega + '<br><b>Valor: </b>' + entregas[i].valor_entrega + '</div>';
                }
        
                document.getElementById("botoes").innerHTML = botoes;
                document.getElementById("lista_entregas").innerHTML = html;
            } else{ //se não há pedidos para essa data
                document.getElementById("lista_entregas").innerHTML = JSON.stringify(entregas);
            }
        //}
    }

    /* função responsável pela montagem do corpo da requisição de atualização para atualizar no BD caso as entregas tenham sido marcadas como
        entregues ou tenham sido resignadas */
    async function atualizar(opcao){
        var idsSelecionados = getIdsSelecionados()
        var email = sessionStorage.getItem('email');
        var putData = '{"emailEntregador":"' + email + '", "entregas":['

        if(opcao == 1){
            for(var i = 0; i < idsSelecionados.length; i++){   
                if(i == (idsSelecionados.length - 1)){  //é o último a ser inserido
                    putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":false, "entregue":false}]}'
                } else{
                    putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":false, "entregue":false}, '
                }
            }
        } else{
            for(var i = 0; i < idsSelecionados.length; i++){    
                if(i == (idsSelecionados.length - 1)){  //é o último a ser inserido
                    putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":true, "entregue":true}]}'
                } else{
                    putData += '{"id_entrega":"' + idsSelecionados[i] + '", "selecionado":true, "entregue":true}, '
                }
            }
        }

        atualizarDados(putData)
    }
    
    /* função responsável por gerar as rotas conforme entregas selecionadas através da chamada da api */
    function gerarRotas() {
        var idsSelecionados = getIdsSelecionados();
        if(idsSelecionados.length > 9){
            document.getElementById('message').innerHTML = 'Você selecionou ' + idsSelecionados.length + ' entregas. A quantidade máxima para gerar rotas é 9.';
        } else{
            var jsonData;
            var postData = '{"entregas":[';
            var url = 'https://livres-entregas.herokuapp.com/api/entregas/roteirizar';

            for(var i = 0; i < idsSelecionados.length; i++){
                if(i == (idsSelecionados.length - 1)){  //é o último a ser inserido
                    postData += '{"id_entrega":"' + idsSelecionados[i] + '"}]}'
                } else{
                    postData += '{"id_entrega":"' + idsSelecionados[i] + '"}, '
                }
            }
    
            //chamando a api para montagem das rotas otimizadas
            const rotas = fetch(url, {
                method: "POST",
                headers: {
                    "Authorization":"Basic " + sessionStorage.getItem('authorization'),
                    "Content-type":"application/json;charset=UTF-8"
                },
                body: postData
            })
            .then((response) => response.json())
            .then((data) => {
                return data;
            });
        
            const printRotas = async () => {
                const a = await rotas;
                console.log(a);
    
                initMap(a);
                document.getElementById('myModal').style.display='block';
            };
              
            printRotas();
        }
    }

    /* função responsável pela montagem do Google Maps com as rotas e respectivos marcadores */
    function initMap(responseMap) {
        var path = [];
        var points = new Array();
        var caminho = '<br><br><strong>Caminho:</strong><br>';
        var legenda = '<br><br><strong>Legenda:</strong><br>';

        var directionsRenderer = new google.maps.DirectionsRenderer({
            draggable: false
        });

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: -23.944841, lng: -46.330376}
        });

        directionsRenderer.setMap(map);

        //decodificando o overviewPolyline
        decodedSets = google.maps.geometry.encoding.decodePath(responseMap.routes[0].overviewPolyline.encodedPath).toString();
        decodedSets=decodedSets.replace(/\,\(/gi, "");
        decodedSets=decodedSets.replace(/\(/gi, "");

        var brokenstring = decodedSets.split(")");
        for(var i in brokenstring){
            if(brokenstring[i].length>1){
                points = brokenstring[i].split(",");
                myLatLng = new google.maps.LatLng(points[0],points[1]);
                path.push(myLatLng);
            }
        }

        renderPolyline(path, map);

        //criando os marcadores no mapa
        for(i = 0; i < responseMap.routes[0].legs.length; i++){
            let marker = new google.maps.Marker({
                position: new google.maps.LatLng(responseMap.routes[0].legs[i].startLocation.lat, responseMap.routes[0].legs[i].startLocation.lng),
                label: (i == 0 || i%4 == 0) ? 'Origem' : (i).toString(),
                map: map
            });

            //preenchendo as informações da legenda
            if(i == 0){
                legenda += '<b>Marcador <u>' + marker.label + '</b></u>: ' + responseMap.routes[0].legs[i].startAddress + '<br>';
            } else if(i%4 != 0){
                legenda += '<b>Marcador <u>' + marker.label + '</b></u>: ' + responseMap.routes[0].legs[i].startAddress + '<br>';
            }

            //preenchendo as informações do caminho
            caminho += '<b> -> </b>' + marker.label;
        }
        
        var infos = caminho + legenda;
        document.getElementById('infos').innerHTML = infos;
    }

    /* função responsável por renderizar as polylines decodificadas no mapa */
    function renderPolyline(path, map) {
        new google.maps.Polyline({
            path: path,
            map: map
        });
    }
</script>

</html>